<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Recepción</title>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
	<link rel="stylesheet" href="{% static "css/styles.css"%}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>

</head>
<body>
	<section class="container centro">


		<div class="row center">
			<div class="titulo">
				<h1 class="appName">EASY</h1>
				<h1 class="appName">AGRO.</h1>
			</div>

			<h3 class="inicioSes">Inicio de sesión</h3>

			<div class="col l8 m8 s8 offset-l2 offset-m2 offset-s2">

				<form class="" action="">

						<div class="input-field col s12 m12 l12">
		          <i class="material-icons prefix" style="color:#8f8f8f;">account_box</i>
		          <input id="icon_prefix" type="text" class="validate">
		        </div>
						<div class="input-field col s12 m12 l12">
		          <i class="material-icons prefix" style="color:#8f8f8f;">lock</i>
		          <input id="icon_prefix" type="password" class="validate">
		        </div>
						<button class="btn waves-effect waves-light" type="submit" method="post">Enviar</button>

				</form>

			</div>

			<div class="reCont col s12">
				<a class="waves-effect waves-light btn brown darken-1">Recuperar contraseña</a>
			</div>
		</div>

	</section>


	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>
